/*colors*/
$black: rgba(0,0,0,0.8);
$background: #fafafa;
$gray-light: rgba(0,0,0,0.3);
$gray-medium: rgba(0,0,0,0.6);
$white: #fff;

//main colors
$blue-light: #2c97de;
$green: #15c182;
$light-green: #DAFFCB; 

$border-bottom: rgba(0,0,0,0.05);
$code-block: #f4f4f4;



body{
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
}

a{
	color: $black;
	text-decoration: none;
}

pre{
	background: $code-block;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.container {
   min-height:100%;
   position:relative;
}

#footer {
   width:100%;
}

code{
  background: #f4f4f4;
  padding: 0 4px 0 4px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}



