


<% @posts.each do |post| %>
	

<div class="bigbox">
	<div class="box">
		<article class="type-system-geometric">
		  <!-- <p class="type">Article Type</p> -->
		  <h1><%= post.title %></h1>
		  <p>
		  	<%= post.content %>
		  </p>

		  <p class="date">
		  	<span class="continue-reading"><%= link_to "Continue Reading", post %></span>
		  	<%= post.created_at.strftime("%D") %>
		  </p>
		  <hr>
		  <p class="author"></p>
		</article>
	</div>
</div>

<% end %>