<div class="bigbox">
	<div class="box">
		<% @posts.each do |post| %>
			<article class="type-system-geometric">
			  <!-- <p class="type">Article Type</p> -->
			  
			  <h1><%= link_to post.title, post %></h1>
			  <p>
			  	<%= post.description %>
			  </p>

			  <p class="date">
			  	<span class="continue-reading"><%= link_to "Continue Reading", post %></span>
			  	<%= post.created_at.strftime("%D") %>
			  </p>

			  <p class="author"></p>
			</article>
		<% end %>
	</div>
</div>

