/*colors*/
$black: rgba(0,0,0,0.8);
$background: #fafafa;
$gray-light: rgba(0,0,0,0.3);
$gray-medium: rgba(0,0,0,0.6);
$blue-light: #2c97de;
$border-bottom: rgba(0,0,0,0.05);



body{
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
}

a{
	color: $black;
	text-decoration: none;
}