button{
	@include button;

}

.type-system-geometric{
  border-bottom: solid 1px $border-bottom;
}

.bigbox{
	@include outer-container;
}

.box{
	@include span-columns(8);
	@include shift(2);
}

.type-system-geometric{
	p.date {
    color: $gray-light;
    font-size: 0.9em;
    margin-bottom: 0.3em;
  }

  .continue-reading{
  	a{
  		color: $blue-light;
  		padding-right: 5px;
  		border-right: 1px solid $gray-light;
  	}
  	
  }

}
