button{
	@include button;

}

.type-system-geometric{
  border-bottom: solid 1px $border-bottom;
}

.bigbox{
	@include outer-container;
  margin-bottom: 150px;
}

.box{
	@include span-columns(8);
	@include shift(2);
}

.type-system-geometric{
	p.date {
    color: $gray-light;
    font-size: 0.9em;
    margin-bottom: 0.3em;
  }

  .continue-reading{
  	a{
  		color: $blue-light;
  	}

    a:hover{
      color: shade($blue-light, 20%);
    }
  	
  }

  .continue-reading::after{
    content: "-";
    margin: 0 0.5rem;
  }

}
