button{
	@include button;

}

.type-system-geometric{
  border-bottom: solid 1px $border-bottom;
}

.bigbox{
	@include outer-container;
  margin-bottom: 150px;
  margin-top: 100px;
}

.box{
	@include span-columns(8);
	@include shift(2);

  .title {
    text-align: center;
  }

  h1 {

    a {
      color: $nav-color;
    }
  }
}

.type-system-geometric{
	p.date {
    color: $gray-light;
    font-size: 0.9em;
    margin-bottom: 0.3em;
  }

  .delete{
    float: right;
    clear: left;
    a{
      color: red;
    }

    a:hover{
      color: shade(red, 20%);
    }
  }

  .continue-reading{
  	a{
  		color: #AD141E;
  	}

    a:hover{
      color: shade(#AD141E, 20%);
    }
  	
  }

  .continue-reading::after{
    content: "-";
    margin: 0 0.5rem;
  }

}


