.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container{

	.subject{
		background: $light-green;
		margin: 0 auto;
		width: 100%;
	  padding: 2.5rem 0;
	  position: relative;
	}

	h1{
		text-align: center;
		color: $green;
		font-size: 2em;
	}
}