<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="logo"><%= link_to 'AY', root_path %></div>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Blog", root_path %></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Projects</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Resume</a></li>
        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to "New", new_post_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>